<div class="container my-auto">
  <div class="row text-center">
    <div class="jumbotron mt-5 col-lg-10 mx-auto">
      <h1 class="display-4">Welcome to Scuba Records</h1>

      <div class="col-lg-8 mx-auto">
        <p class="lead">
          The web app that lets you search for dive sites, record your dive experience and see other records from other users
        </p>
        <%= link_to "View Scuba Sites", sites_path, class: "btn btn-lg btn-primary" %>
      </div>
    </div>
  </div>
</div>
