<% if @record.errors.any? %>
  <div class="field_with_errors">
    <h2><%= pluralize(@record.errors.count, "error") %> prohibited this article from being saved:</h2>

    <ul>
    <% @record.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
