<h1>Dive Sites</h1>

<% @sites.each do |site| %>
  <p>Name: <%= link_to site.name, site_path(site) %></p>
  <p>Location: <%= site.location %></p>
  <p><%= link_to "destroy", site_path(site), method: :delete, data: { confirm: "Are you sure?"}  %></p>
  <hr>
<% end %>
